<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Willow.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0EAE9F2223B7206700F64B45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EAE9F3B23B7206800F64B45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EAE9F4623B7206800F64B45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
